{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css'%}">
</head>
<body>

<form  method="POST" action="" >
  {% csrf_token %}
  <div class="container">
            <h1>Register</h1>

            <div class="form-container">
                <label for="Username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="Username" id="email" required>

                <label for="Firstname"><b>Firstname</b></label>
                <input type="text" placeholder="Enter Firstname" name="Firstname" id="email" required>

                <label for="Lastname"><b>Lastname</b></label>
                <input type="text" placeholder="Enter Lastname" name="Lastname" id="email" required>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                <hr>

<!--                <input type="checkbox">agree to our terms and condidtions .-->


                <button type="submit" class="registerbtn">Register</button>
                    {% for msg in messages %}
                    {{msg}}
                    {% endfor %}
            </div>
  </div>
</form>

</body>
</html>
